# course config files
*.yaml

# gradle
.gradle/
gradle/
gradlew
*.bat
build


# idea confid
.idea

# old stages
/Chuck Norris Cipher Encoder/*
!/Chuck Norris Cipher Encoder/task/
/Chuck Norris Cipher Encoder/task/*
!/Chuck Norris Cipher Encoder/task/src/
!/Chuck Norris Cipher Encoder/task/build.gradle
!/Chuck Norris Cipher Encoder/task/build.gradle.kts

# Project exclude paths
/Topics/Processing strings/Cutting out the middle of a string/out/
/Topics/Processing strings/Cutting out the middle of a string/out/production/classes/
/Topics/Processing strings/Double characters/out/
/Topics/Processing strings/Double characters/out/production/classes/
/Topics/Processing strings/Parse url/out/
/Topics/Processing strings/Parse url/out/production/classes/